# version: '3.8'

services:

  mongo:
    container_name: mongo
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./dump:/dump
      - mongo_data:/data/db
    networks:
      - llama_net

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - mongo
    ports:
      - "3000:3000"
    networks:
      - llama_net
    environment:
      - NODE_ENV=production

  ollama:
    container_name: ollama
    image: ollama/ollama:rocm
    restart: always
    ports:
      - "11434:11434"
    shm_size: 10gb
    mem_limit: 20gb
    cpus: '12'
    environment:
      - OLLAMA_ORIGINS=*
      - OLLAMA_HOST=0.0.0.0:11434
      - GPU=all
      - DEVICE_DRIVER=ryzen
      - OLLAMA_CPPFLAGS=-DCUDA_ARCH_BIN=70 -DCUDA_ARCH_PTX=70 -DHLSL_TARGET=sm70
      - OLLAMA_LDFLAGS=-lrocm_device
    volumes:
      - ./models:/root/.ollama
    networks:
      - llama_net

  stt:
    container_name: voskSTT
    image: alphacep/kaldi-en
    restart: always
    ports:
      - "2700:2700"  # Expose the port to the host
    expose:
      - "2700"  # Expose to other containers on the same network
    networks:
      - llama_net

  nginx:
    image: nginx:stable
    container_name: nginx
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - ollama
      - stt
    networks:
      - llama_net

volumes:
  mongo_data:

networks:
  llama_net:
