# version: '3.8'

services:
  mongo:
    container_name: mongo
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./dump:/dump
      - mongo_data:/data/db
    networks:
      - mynet

  backend:
    container_name: pro_chat_backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    # depends_on:
      # - mongo
    ports:
      - "3300:3300"
    networks:
      - mynet
    environment:
      - NODE_ENV=production

  ollama:
    container_name: ollama
    image: ollama/ollama:rocm
    restart: always
    ports:
      - "11434:11434"
    shm_size: 12gb
    mem_limit: 16gb
    cpus: '10'
    environment:
      - OLLAMA_ORIGINS=*
      - OLLAMA_HOST=0.0.0.0:11434
      - GPU=all
      - DEVICE_DRIVER=ryzen
      - OLLAMA_CPPFLAGS=-DCUDA_ARCH_BIN=70 -DCUDA_ARCH_PTX=70 -DHLSL_TARGET=sm70
      - OLLAMA_LDFLAGS=-lrocm_device
    volumes:
      - ./models:/root/.ollama
    networks:
      - mynet

volumes:
  mongo_data:

networks:
  mynet:
    driver: bridge
